body {
    text-align: center;
    background-image:url(Image/sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-decoration: none;
    color:goldenrod;
    font-family: "Press Start 2P" , "sans-serif";
    font-size: 10px;
    line-height: 0.4cm;
}

.img{
    width: 100px;
}

.img2{
    width: 150px;
}

.info,.h2{
    background: rgba(19, 136, 142, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(48, 47, 47);
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

.h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

#text{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

header{
    background: rgba(19, 136, 142, 0.2);
    margin-bottom: 10px;
    overflow:auto;
}

a:link{
    text-decoration: none;
    color:goldenrod;
}

.menu{
    width: 100px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu:hover{
    background-color: cadetblue;
    border-radius: 86px;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom:25px;
}