body {
    text-align: center;
    background-image:url(Image/sky.jpg);
    text-decoration: none;
    color:cornflowerblue;
    font-family: "Press Start 2P" , "sans-serif";
    font-size: 10px;
    line-height: 0.4cm;
}

.img{
    width: 100px;
}

.img2{
    width: 150px;
}

.info{
    background: rgba(19, 136, 142, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(48, 47, 47);
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

header{
    background: rgba(19, 136, 142, 0.2);
    margin-bottom: 10px;
    overflow:auto;
}